################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameProject/Debug
/Debug
/GameProject/x64/Debug
/x64/Debug
