################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameProject/Debug
/Debug
/GameProject/x64/Debug
/x64/Debug
/CreateTile/CreateTile/obj/Debug
/CreateTile/CreateTile/obj/Release
/CreateTile/.vs/CreateTile/v15
/CreateTile/CreateTile/bin/Debug
